
/* General body styling */
body {
    background-color: #f8f9fa;
    font-family: 'Fira Sans', sans-serif;
}

/* Navbar styling */


.navbar {
    margin-bottom: 20px;
    background-color: #343a40 !important;
    padding: 0.5rem 2.5rem;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
    margin-right: 20px;
}
.navbar-brand:hover, .nav-link:hover {
    color: #f0ad4e !important;
}


/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .navbar-brand, .nav-link {
        margin-right: 10px;
    }
    .container {
        padding: 15px;
    }
    .form-control {
        width: 100%;
    }
}
